<div class="flex-layout-container supporting-pane">
  <form class="supporting-pane__main flex-layout-container flex-layout-container__column"
        [formGroup]="_formGroup">
    <mat-card>
      <mat-card-header class="btn-group btn-group__between">
        <mat-card-title>Preview form</mat-card-title>
        <mat-card-subtitle>Select a form field to edit</mat-card-subtitle>

        <div class="header-actions">
          <button mat-stroked-button
                  type="button"
                  (click)="addField()">
            <mat-icon>add</mat-icon>
            Add field
          </button>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="content">
      <mat-card-content>
        @if (flattenedFields().length > 0) {
          <div class="flex-layout-container flex-layout-container__wrap">
            @for (field of flattenedFields(); track $index) {
              @if (![FieldType.INTERFACE, FieldType.OBJECT, FieldType.CLASS, FieldType.INTERSECTION].includes(field.controls.fieldType.value)) {
                <app-selectable-form-field [selected]="selectedField() === field"
                                           (select)="selectedField.set(field)">
                  <app-material-field [matField]="field.getRawValue()"/>
                </app-selectable-form-field>
              }
            }
            @if (inCreationMode()) {
              <app-selectable-form-field [selected]="true">
                <app-material-field [matField]="selectedField().getRawValue()"/>
              </app-selectable-form-field>
            }
          </div>
        } @else {
          <div class="empty-placeholder">
            No fields provided in the form data. Add a field to preview and edit the form, or&nbsp;<a [routerLink]="'/upload'">upload a
            typescript type definition</a>.
          </div>
        }
      </mat-card-content>
    </mat-card>

    <mat-card class="action-card">
      <mat-card-actions>
        <ng-content/>
      </mat-card-actions>
    </mat-card>
  </form>
  @if (selectedField() != null) {
    <app-edit-form-field class="supporting-pane__support"
                         [formGroup]="selectedField()"
                         [inCreationMode]="inCreationMode()"
                         (submitForm)="saveFormDataAndResetEditing()"
                         (remove)="removeSelectedField()"
                         (close)="onClose()">
    </app-edit-form-field>
  }
</div>
