.supporting-pane__main {
  overflow-x: hidden;
}

.scrollable-container {
  overflow: auto;
  /*min-width: 375px;*/
}

.form-container {
  /*overflow: auto;*/
  /*resize: horizontal;*/
  /*border: 1px solid black;*/
}

.action-card {
  flex-grow: 0;
  height: fit-content;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
