.supporting-pane__main {
}

.action-card {
  flex-grow: 0;
  height: fit-content;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divider {
  margin-bottom: 1rem;
}
