.supporting-pane__main {
}

.action-card {
  flex-grow: 0;
  height: fit-content;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
