<div class="flex-layout-container supporting-pane">
  <form class="supporting-pane__main flex-layout-container flex-layout-container__column"
        [formGroup]="_formGroup">
    <mat-card>
      <mat-card-header class="btn-group btn-group__between">
        <mat-card-title>Preview form</mat-card-title>
        <mat-card-subtitle>Select a form field to edit</mat-card-subtitle>

        <div class="header-actions">
          <button mat-stroked-button
                  type="button"
                  [disabled]="previewModeControl.value === 'arrange'"
                  (click)="addField()">
            <mat-icon>add</mat-icon>
            Add field
          </button>
        </div>
      </mat-card-header>

      <mat-divider class="divider"/>

      <mat-card-content>
        <mat-button-toggle-group [formControl]="previewModeControl"
                                 [hideSingleSelectionIndicator]="true"
                                 appearance="standard">
          <mat-button-toggle [value]="'edit'">Edit</mat-button-toggle>
          <mat-button-toggle [value]="'arrange'" [disabled]="flattenedFields().length == 0">Arrange</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>

    @if (flattenedFields().length > 0) {
      @if (previewModeControl.value === 'edit') {
        <mat-card class="content">
          <mat-card-content>
            <div class="flex-layout-container flex-layout-container__wrap">
              @for (field of flattenedFields(); track $index) {
                @if (![
                  FieldType.INTERFACE,
                  FieldType.OBJECT,
                  FieldType.CLASS,
                  FieldType.INTERSECTION
                ].includes(field.controls.fieldType.value)) {
                  <app-selectable-form-field [selected]="selectedField() === field"
                                             (select)="selectedField.set(field)">
                    <app-material-field [matField]="field.getRawValue()"/>
                  </app-selectable-form-field>
                }
              }
              @if (inCreationMode()) {
                <app-selectable-form-field [selected]="true">
                  <app-material-field [matField]="selectedField().getRawValue()"/>
                </app-selectable-form-field>
              }
            </div>
          </mat-card-content>
        </mat-card>
      } @else {
        <mat-card class="content">
          <mat-card-content>
            <app-drag-drop [fieldFormGroups]="_formGroup.controls.entries"
                           (onDrop)="onSubmit(false, 'none')"
            />
          </mat-card-content>
        </mat-card>
      }
    } @else {
      <mat-card>
        <mat-card-content>
          <div class="empty-placeholder" data-testid="preview-placeholder">
            <p class="placeholder-text">
              No fields provided in the form data. Add a field to preview and edit the form, or
              <a [routerLink]="'/upload'">upload a typescript type definition</a>.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    }

    <mat-card class="action-card">
      <mat-card-actions>
        <ng-content/>
      </mat-card-actions>
    </mat-card>
  </form>
  @if (selectedField() != null) {
    <app-edit-form-field class="supporting-pane__support"
                         [formGroup]="selectedField()"
                         [inCreationMode]="inCreationMode()"
                         (submitForm)="saveFormDataAndResetEditing()"
                         (remove)="removeSelectedField()"
                         (close)="onClose()">
    </app-edit-form-field>
  }
</div>
