<h1>Preview</h1>

@if (formDataStore.state$ | async; as state) {
  <app-preview-form #previewForm
    [formGroup]="state.data?.fields | asFieldsFormGroup"
                    (submitForm)="onSubmit($event)">
    <div class="btn-group">
      <div class="btn-group">
        <button mat-stroked-button
                type="button"
                [appClearDialog]="onClear">
          <mat-icon>delete</mat-icon>
          Discard process
        </button>
        <a mat-stroked-button [routerLink]="'/upload'">Back</a>
      </div>

      <button mat-flat-button type="submit"
              [disabled]="previewForm.selectedField() != null">Save</button>
    </div>
  </app-preview-form>
}
