<h1>Preview</h1>

@if (formDataStore.state$ | async; as state) {
  <app-preview-form #previewForm
                    [formGroup]="state.data?.fields | asFieldsFormGroup"
                    (submitForm)="onSubmit($event)">
    <div class="btn-group">
      <div class="btn-group">
        <a mat-stroked-button [routerLink]="'/upload'">Back</a>
        <button mat-stroked-button
                type="button"
                [appClearDialog]="onClear"
                [disabled]="state.data == null">
          <mat-icon>delete</mat-icon>
          Discard process
        </button>
      </div>

      <!--      <button mat-flat-button type="submit"-->
      <!--              [disabled]="previewForm.selectedField() != null || previewForm.flattenedFields().length == 0">Generate code</button>-->
      <button mat-flat-button (click)="generateCode()">Generate code</button>
    </div>
  </app-preview-form>
}
