@if (formConfigStore.state$ | async; as state) {
  <app-form-config-form [formGroup]="state.data | asFormConfigFormGroup"
                        (submitForm)="onSubmit($event)">
    <div class="btn-group">
      <div class="btn-group">
        <button mat-stroked-button (click)="location.back()">Back</button>
        <button mat-stroked-button
                type="button"
                [appClearDialog]="onClear"
                appClearDialogTitle="Reset configurations"
                appClearDialogText="Do you really want to reset the form configurations?">
          Zurücksetzen
        </button>
      </div>

      <button mat-flat-button type="submit">Save</button>
    </div>
  </app-form-config-form>
}
