<mat-list-item>
  <span matListItemTitle>{{ label }}</span>
  @if (description) {
    <span matListItemLine>{{ description }}</span>
  }
  <div matListItemMeta>
    <mat-button-toggle-group [formControl]="field"
                             [hideSingleSelectionIndicator]="true">
      <ng-content/>
      @for (option of options; track option.selectableValue) {
        <mat-button-toggle [value]="option.selectableValue">{{ option.displayName }}</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
</mat-list-item>
