// ----------------- Common -----------------
.flex-layout-container {
  display: flex;
  gap: 1rem;

  &__column {
    flex-direction: column;
  }
}

.mat-tab__content {
  overflow: auto;
  padding: 16px;

  &:has(mat-form-field) {
    padding-bottom: 0;
  }
}
