.btn-group {
  display: flex;
  height: fit-content;
  /*flex-wrap: wrap;*/
  gap: 8px;

  &__between {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &:has(> .btn-group), &__between {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__align-center {
    align-items: center;
  }
}

.w-full {
  width: 100%;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

/*.mb-6 {*/
/*  margin-bottom: 24px;*/
/*}*/
