<form [formGroup]="_formGroup"
      (ngSubmit)="onSubmit()"
      class="flex-layout-container flex-layout-container__column">
  <mat-card>
    <mat-card-header class="btn-group">
      <mat-card-title>
        @if (inCreationMode) {
          Add new
        } @else {
          Update
        }
        field
      </mat-card-title>
      <mat-card-subtitle>Type: {{ _formGroup.controls.componentType.value }}</mat-card-subtitle>
      <div class="btn-group">
        <button mat-icon-button (click)="onClose()" type="button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-tab-group dynamicHeight>
      <mat-tab label="Field">
        <app-edit-form-field-tab [form]="_formGroup"/>
      </mat-tab>

      <mat-tab label="Value">
        <app-edit-form-value-tab [form]="_formGroup"/>
      </mat-tab>

      <mat-tab label="Config">
        <app-edit-form-config-tab [form]="_formGroup"/>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <mat-card class="action-card">
    <mat-card-actions class="btn-group btn-group__between">
      <button mat-stroked-button type="button" (click)="onClose()">Cancel</button>

      <div class="btn-group">
        @if (!inCreationMode) {
          <button mat-stroked-button type="button" (click)="onRemove()">Remove</button>
        }
        <button mat-flat-button type="submit">Save</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
