.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  mat-form-field {
    flex-grow: 1;
  }

  mat-checkbox {
    flex-grow: 1;
    width: 100%;
  }

  > button {
    margin-bottom: 16px;
    margin-left: -8px;
  }
}

.mdc-list-item__end {
  margin-right: 0;
}

/* Versteckt das Kreuz-Symbol in der ausgewählten Option */
.mat-select-value-text .remove-icon {
  display: none;
}

.deletable-option {
  display: flex;
  position: relative;
  overflow: hidden;

  > mat-option {
    flex-grow: 1;
    margin: 0;
  }

  button {
    --icon-size: 18px;

    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-icon {
      width: var(--icon-size);
      height: var(--icon-size);
      font-size: var(--icon-size);
      line-height: var(--icon-size);
    }

    mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
}
