<h1>Upload</h1>
<div class="flex-layout-container flex-layout-container__column">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>
        Card Title
      </mat-card-title>

      <mat-card-subtitle>
        Create form data
      </mat-card-subtitle>
    </mat-card-header>

    <mat-tab-group dynamicHeight
                   [selectedIndex]="selectedTabIndex"
                   (selectedIndexChange)="selectedTabIndex.set($event)">
      <mat-tab label="TypeScript Input">
        <app-typescript-input (submit)="onSubmit($event.text, $event.selectedType)"/>
      </mat-tab>

      <mat-tab label="Manual Input">
        Manual input goes here
      </mat-tab>

      <mat-tab label="File Upload">
        File upload goes here
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
