<h1>Upload</h1>
<div class="flex-layout-container flex-layout-container__column">
  @if (formDataStore.state$ | async; as state) {
    <app-typescript-input [formGroup]="state.data | asTypeScriptInputFormGroup"
                          (submitForm)="onSubmit($event.text, $event.selectedType)">
      <div class="btn-group btn-group__between">
        <button mat-stroked-button
                type="button"
                [appClearDialog]="onClear"
                [disabled]="state.data == null">
          <mat-icon>delete</mat-icon>
          Discard process
        </button>

        <button mat-flat-button type="submit">Create form data</button>
      </div>
    </app-typescript-input>
  }
</div>
